<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#redirectToHome">Gestão de Processos</a></li>
			<li class="active">Cadastrar Processo</li>
			<li class="active" ng-if="responsavel.id">{{responsavel.nome}}</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">
				<form role="form" name="processoForm" novalidate>
					<div class="row"> 
	             		<div class="form-group col-md-3">
	                   		<label>Número Processo Unificado</label>
	                   		<input class="form-control" mask="0000000-00.0000.0.00.0000" required ng-model="processo.numeroProcessoUnificado">
	                	</div>
		                <div class="form-group col-md-2">
	                   		<label>Data Distribuição</label>  
							<div class="input-group">
								<input class="form-control" title="Por favor, preencha este campo no formato: DD/MM/YYYY" uib-datepicker-popup="dd/MM/yyyy" ng-model="processo.dataDistribuicao" is-open="processo.dataDistribuicaoOpened" mask="99/99/9999"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDataDistribuicao()">
										<i class="fa fa-calendar"></i>
									</button>                                
								</span>
							</div>
	                	</div>
	                	<div class="form-group col-md-2">
                        	<label>Situação</label>
                        	<select class="form-control" required ng-model="processo.situacao" ng-options="situacao.nome for situacao in situacoes track by situacao.id" >
                          		<option value="">Todos</option>                          
                        	</select>                        
                     	</div>
                     	<div class="form-group col-md-3">
	                   		<label>Pasta física cliente</label>  
	                   		<input class="form-control" maxlength="50" ng-model="processo.pastaFisicaCliente">
	                	</div>
	                	<div class="form-group col-md-2">
	                		<label>&nbsp;</label>
	                		<div class="checkbox" style="margin-top: 13px;">
			               		<label>
			                   		<input type="checkbox" ng-model="processoTratamentoPerda.somenteNaoExecutados" value="">Segredo de Justiça
								</label>
							</div>
			           </div> 
	             	</div>
	             	<div class="row"> 
	             		<div class="form-group col-md-5">
	                   		<label>Responsáveis</label>
	                   		<div class="input-group select2-bootstrap-append">
								<ui-select multiple required sortable="true" ng-model="processo.responsaveis" required>
		                        	<ui-select-match placeholder="Informe Nome, E-mail ou CPF">{{$item.nome}}</ui-select-match>
	                           		<ui-select-choices repeat="responsavel in responsaveis" refresh="buscarResponsaveis($select.search)" refresh-delay="10" minimum-input-length="4">
	                              		<div ng-bind-html="responsavel.nome | highlight: $select.search"></div>
	                              		<div ng-bind-html="responsavel.email | highlight: $select.search"></div>
	                              		<div ng-bind-html="responsavel.cpf | highlight: $select.search"></div>
	                           		</ui-select-choices>
		                        </ui-select>
		                        <span class="input-group-btn">
			                        <button type="button" ng-click="processo.responsaveis = undefined" class="btn btn-default" title="Limpar Responsável">
			                        	<i class="fa fa-trash-o"></i>
			                        </button>
		                        </span>
		                     </div>
	                	</div>
	                	<div class="form-group col-md-7">
	                   		<label>Descrição</label>
	                   		<textarea class="form-control" rows="4" maxlength="1000" ng-model="processo.descricao">
	                   		</textarea>
	                	</div>
	                </div>
	                <div class="row"> 
	                	<div class="form-group col-md-12">
	                   		<label>Processo vinculado</label>
	                   		<textarea class="form-control" rows="4" ng-model="processo.processoVinculado">
	                   		</textarea>
	                	</div>
	                </div>
	                <div class="row"> 
	                	<div class="form-group col-md-2">
	                   		<button id="buttonVoltar" class="btn btn-default btn-app" ng-click="voltar()">Voltar</button>
	                	</div>
	                 	<div class="form-group col-md-2">
		                   	<button id="buttonCadastrar" ng-disabled="processoForm.$invalid" class="btn btn-default btn-app" ng-click="salvar()">Cadastrar</button>
		                </div>
		             </div>   
				</form>
			</div>
		</div>
	</div>
</div>