<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#redirectToHome">Gestão de Processos</a></li>
			<li class="active">Consultar Processo</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<fieldset class="consulta">
			<legend>Filtros</legend>
			<div class="col-lg-12">
				<form novalidate>
	             	<div class="row"> 
	             		<div class="form-group col-md-3">
	                   		<label>Número Processo Unificado</label>
	                   		<input class="form-control" mask="0000000-00.0000.0.00.0000" ng-model="processo.numeroProcessoUnificado" ng-init="responsavel.numeroProcessoUnificado=''">
	                	</div>
		                <div class="form-group col-md-2">
	                   		<label>Inicio Distribuição</label>  
							<div class="input-group">
								<input class="form-control" title="Por favor, preencha este campo no formato: DD/MM/YYYY" uib-datepicker-popup="dd/MM/yyyy" ng-model="processo.dataDistribuicaoInicio" is-open="dataDistribuicaoInicioOpened" mask="99/99/9999" ng-init="processo.dataDistribuicaoInicio=''"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDataDistribuicaoInicio()">
										<i class="fa fa-calendar"></i>
									</button>                                
								</span>
							</div>
	                	</div>
	                	<div class="form-group col-md-2">
	                   		<label>Fim Distribuição</label>  
	                   		<div class="input-group">
								<input class="form-control" title="Por favor, preencha este campo no formato: DD/MM/YYYY" uib-datepicker-popup="dd/MM/yyyy" ng-model="processo.dataDistribuicaoFim" is-open="dataDistribuicaoFimOpened" mask="99/99/9999" ng-init="processo.dataDistribuicaoFim=''"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openDataDistribuicaoFim()">
										<i class="fa fa-calendar"></i>
									</button>                                
								</span>
							</div>
	                	</div>
	                	<div class="form-group col-md-3">
                        	<label>Situação</label>
                        	<select class="form-control" ng-model="processo.situacao" ng-options="situacao.nome for situacao in situacoes track by situacao.id" >
                          		<option value="">Todos</option>                          
                        	</select>                        
                     	</div>
	                	<div class="form-group col-md-2">
	                		<label>&nbsp;</label>
	                		<div class="checkbox" style="margin-top: 13px;">
			               		<label>
			                   		<input type="checkbox" ng-model="processoTratamentoPerda.somenteNaoExecutados" value="">Segredo de Justiça
								</label>
							</div>
			           </div> 
	             	</div>
	             	<div class="row"> 
	             		<div class="form-group col-md-4">
	                   		<label>Pasta física cliente</label>  
	                   		<input class="form-control" ng-model="processo.pastaFisicaCliente" ng-init="processo.pastaFisicaCliente=''">
	                	</div>
	                	<div class="form-group col-md-4">
	                   		<label>Responsável</label>
	                   		<input class="form-control" ng-model="processo.responsavel" ng-init="processo.responsavel=''">
	                	</div>
	                	<div class="form-group col-md-2">
	                   		<label>&nbsp;</label>
	                   		<button id="buttonConsultar" class="btn btn-default btn-app" ng-click="consultar()">Consultar</button>
	                	</div>
	                	<div class="form-group col-md-2">
	                   		<label>&nbsp;</label>
	                   		<button id="buttonConsultar" class="btn btn-default btn-app" ng-click="cadastrar()">Cadastrar</button>
	                	</div>
	             	</div>
	          	</form>
			</div>
		</fieldset>
	</div>
</div>
            
<div class="row" ng-show="processos">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <table datatable="ng" class="table-striped row-border hover">
               <thead>
                  <tr>
                     <th>Número processo unificado</th>
                     <th>Data distribuição</th>
                     <th>Segredo de justiça</th>
                     <th>Pasta física cliente</th>
                     <th>Descrição</th>
                     <th>Situação</th>
                     <th>Responsáveis</th>
                     <th class="no-sort">Ações</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="processo in processos">
                     <td>{{processo.numeroProcessoUnificado}}</td>
                     <td>{{processo.dataDistribuicao | date:'dd/MM/yyyy'}}</td>
                     <td>{{processo.segredoJustica == 'S' ? 'Sim' : 'Não'}}</td>
                     <td>{{processo.pastaFisicaCliente}}</td>
                     <td>{{processo.descricao}}</td>
                     <td>{{processo.situacao.nome}}</td>
                     <td>{{processo.responsaveisStr}}</td>
                     <td class="acoes">
                     	<i class="fa fa-pencil" title="Alterar" ng-click="editar(processo)"></i>
                     	<i class="fa fa-times" title="Excluir" ng-click="excluir(processo)"></i>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>