<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#redirectToHome">Gestão de Processos</a></li>
			<li class="active">{{responsavel.id ? 'Editar' : 'Cadastrar'}}&nbsp;Responsável</li>
			<li class="active" ng-if="responsavel.id">{{responsavel.nome}}</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">
				<form role="form" name="responsavelForm" novalidate>
					<div class="row" style="margin-bottom: 16px;">
						<div class="form-group" style="padding-left: 15px; width: 147px; height: 132px; margin-bottom: 0; display: -webkit-box">
							<div class="drop-box" style="margin-right: 10px">     
								<div ng-if="responsavel.id && responsavel.hasFoto" >                         
									<img id="fotoResponsavel" class="foto_responsavel" src="/gestaodeprocessos/api/responsavel/{{responsavel.id}}/foto/">
								</div>
								<i ng-if="!responsavel.hasFoto" class="fa fa-5x fa-user" style="margin-top: 18px;"></i>
							</div>
							<button class="btn btn-default btn-app" style="margin-top: 99px; height: 33px;" ng-file-select ng-model="imagem" drag-over-class="dragover" ng-multiple="false" allow-dir="true" accept="image/*">                                
								Alterar Foto&nbsp;<i class="fa fa-upload"></i>
							</button>
							<div ng-if="imagem" style=" margin-top: 116px; margin-left: 10px;" class="upload-item-text" ng-repeat="imagem in imagem" style="font:smaller">
								{{imagem.name}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-3">
							<label>Nome</label>
							<input class="form-control" maxlength="150" placeholder="Obrigatório" ng-model="responsavel.nome" maxlength="1000" required>
						</div>
						<div class="form-group col-md-2">
							<label>Cpf</label>
							<input class="form-control" placeholder="Obrigatório" mask="000.000.000-00" ng-pattern="/^([0-9]{3}\.?){3}-?[0-9]{2}$/" ng-model="responsavel.cpf" required>
						</div>
						<div class="form-group col-md-3">
							<label>Email</label>
							<input type="email" maxlength="400" placeholder="Obrigatório" class="form-control" ng-model="responsavel.email" required>
						</div>
						<div class="form-group col-md-2">
	                   		<label>&nbsp;</label>
	                   		<button id="buttonVoltar" class="btn btn-default btn-app" ng-click="voltar()">Voltar</button>
	                	</div>
	                 	<div class="form-group col-md-2">
		                   	<label>&nbsp;</label>
		                   	<button id="buttonCadastrar" ng-disabled="responsavelForm.$invalid" class="btn btn-default btn-app" ng-click="salvar()">Cadastrar</button>
		                </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<fieldset class="consulta">
			<legend style="font-size: 13px !important;">Processos que é responsável</legend>
			<table datatable="ng" dt-options="dtOptions" class="table-striped row-border hover" style="margin: 0;">
               <thead>
                  <tr>
                     <th>Número processo unificado</th>
                     <th>Data distribuição</th>
                     <th>Segredo de Justiça</th>
                     <th>Pasta física cliente</th>
                     <th>Descrição</th>
                     <th>Situação</th>
                     <th>Responsáveis</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="processo in processos" ng-click="editar(cliente)">
                     <td>{{processo.numeroProcessoUnificado}}</td>
                     <td>{{processo.dataDistribuicao | date:'dd/MM/yyyy' }}</td>                     
                     <td>{{processo.segredoJustica}}</td>
                     <td>{{processo.pastaFisicaCliente}}</td>
                     <td>{{processo.descricao}}</td>                     
                     <td>{{processo.situacao.nome}}</td>
                     <td>{{processo.descricao}}</td>
                  </tr>
               </tbody>
            </table>
		</fieldset>
	</div>
</div>