<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#redirectToHome">Gestão de Processos</a></li>
			<li class="active">Editar Responsável</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">
				<form role="form" name="responsavelForm" novalidate>
					<div class="row">
						<div class="form-group" style="padding-left: 15px; width: 147px; height: 153px; margin-bottom: 0">
							<div ng-file-drop ng-file-select style="border-radius: 10px;" ng-model="imagem" class="drop-box" drag-over-class="dragover" ng-multiple="false" allow-dir="true" accept="image/*">                                
								<i class="fa fa-5x fa-user"></i>
								<div class="upload-text">Alterar Foto <br>Clique ou arraste</div>
								<div class="upload-item-text" ng-repeat="imagem in imagem" style="font:smaller">{{imagem.name}}</div>
								<div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
							</div> 
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-3">
							<label>Nome</label>
							<input class="form-control" placeholder="Obrigatório" ng-model="cliente.nome" maxlength="1000" required>
						</div>
						<div class="form-group col-md-2">
							<label>Cpf</label>
							<input class="form-control" placeholder="Obrigatório" mask="000.000.000-00" ng-pattern="/^([0-9]{3}\.?){3}-?[0-9]{2}$/" ng-model="responsavel.cpf" required>
						</div>
						<div class="form-group col-md-3">
							<label>Email</label>
							<input type="email" placeholder="Obrigatório" class="form-control" ng-model="responsavel.email" required>
						</div>
						<div class="form-group col-md-2">
	                   		<label>&nbsp;</label>
	                   		<button id="buttonConsultar" class="btn btn-default btn-app" ng-click="voltar()">Voltar</button>
	                	</div>
	                 	<div class="form-group col-md-2">
		                   	<label>&nbsp;</label>
		                   	<button id="buttonCadastrar" ng-disabled="responsavelForm.$invalid" class="btn btn-default btn-app" ng-click="cadastrar()">Cadastrar</button>
		                </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>